replicaCount: 3
image: apache/kafka:4.1.1
clusterId: "MkU3OEVBNTcwNTJENDM2Qk"

storage:
  size: 10Gi
  storageClass: "standard"

resources:
  kafka:
    requests:
      cpu: 250m
      memory: 512Mi
    limits:
      cpu: 1000m
      memory: 1Gi
  ui:
    requests:
      cpu: 100m
      memory: 256Mi

ui:
  enabled: true
  image: provectuslabs/kafka-ui:latest